# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
venv/
.venv/

# Data
*.db
*.sqlite

# Environment
.env

# OS
.DS_Store
Thumbs.db

# Synchronet runtime data (generated in container)
sbbs/*
!sbbs/ctrl/
sbbs/ctrl/*
!sbbs/ctrl/file.ini
